*.o
*.exe
*.dll
*.a
*.def
*.res
*.debug
*.bookmarks
*.layout
*_private.*
Report.txt
makefile.win
_script*
demo/CSharp/CHWEngine_Demo_CSharp/CHWEngine_Demo_CSharp/bin
demo/CSharp/CHWEngine_Demo_CSharp/CHWEngine_Demo_CSharp/obj
Release/
